<img [src]="project.image" style="width: 200px; height: auto;" (click)="toggleActive()" />

<div *ngIf="active">
    <div class="overlay" (click)="toggleActive()"></div>
    <div class="project-card">
        <img class="project-card-image" [src]="project.image" />
        <div class="project-card-title">
            <h2>{{ project.title }}</h2>
            <h4>{{ project.url }}</h4>
        </div>
        <div class="project-description">
            <p>{{ project.description }}</p>
        </div>
    </div>
</div>