<div class="thumbnail-container">
    <div class="image-text">{{ project.title }}</div>
    <img [src]="project.image" class="project-thumbnail" (click)="toggleActive()" />
</div>

<div *ngIf="active">
    <div class="overlay" (click)="toggleActive()"></div>
    <div class="project-card">
        <div class="close" (click)="toggleActive()">&#10006;</div>
        <img class="project-card-image" [src]="project.image" />
        <div class="project-card-title">
            <h2>{{ project.title }}</h2>
            <h4>{{ project.url }}</h4>
        </div>
        <div class="project-description">
            <p>{{ project.description }}</p>
        </div>
    </div>
</div>