/* You can add global styles to this file, and also import other style files */
input {
    width: 85%;
}

textarea {
    width: 85%;
    overflow: auto;
    resize: none;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.heading {
    max-width: 150%;
}

.page {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin:auto;
    max-width: 1000px;
}

.section{
    border-color: black;
    border-style: solid;
    padding: 30px 30px 30px 30px;
}

.top-left {
    grid-column: 1 2;
    grid-row: 1 2;
}

.top-right {
    grid-column: 2 -1;
    grid-row: 1 2;
}

.bottom-left {
    grid-column: 1 2;
    grid-row: 2 -1;
}

.bottom-right {
    grid-column: 2 -1;
    grid-row: 2 -1;
}

@media (max-width: 600px){
    .page {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}